<!DOCTYPE html>
<html lang="en">
    <head>
        {% block header %}
        <title>Zoo</title>
        {% endblock header %}
        <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-confirmation2/dist/bootstrap-confirmation.min.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>
        $(document).ready(function(){
            $("#rules").click(function(){
                $(".rules").toggle();
            });
            $("#close_rules").click(function(){
                $(".rules").hide();
            });
            $("#daily_log").click(function(){
                $(".daily_log").toggle();
            });
            $("#close_daily_log").click(function(){
                $(".daily_log").hide();
            })
            $('[data-toggle=confirmation]').confirmation({rootSelector: '[data-toggle=confirmation]',
            // other options
            });
            $(function () {
                $('.animal_info').popover({
                })
            })
            {% block script %}
            {% endblock script %}
        });
        </script>
    </head>
    <body>
        {% block nav %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">{{user.username}}</a>
            <!-- <img src="" alt="titleimg"> -->
            <div class="mr-auto">
                <a style="display: inline; color: black;" class="nav-link" href="/zoo/{{zoo.id}}">Current Zoo</a>
                <a style="cursor: pointer; display: inline;" id="daily_log" class="nav-link">Day {{user.day}}</a> 
                <a style="display: inline;" class="nav-link">{{user.money}} ZooCash</a>
                <a style="color: black; display: inline;" class="nav-link" href="/zoo">Your Zoos</a> 
            </div>
            <a style="color: black; cursor: pointer;" class="nav-link" data-toggle="confirmation" data-btn-ok-label="Continue" data-btn-ok-class="btn-outline-success" data-btn-cancel-label="Go Back" data-btn-cancel-class="btn-outline-danger" data-title="Are you sure?" data-content="Pressing 'Continue' will move you on to the next day." href="/zoo/advance_day">Next Day</a>
            <a id="rules" style="color: black; cursor: pointer;" class="nav-item nav-link">Rules</a>
            <a href="/myaccount/{{user.id}}" style="color: black" class="nav-link">Manage your Account</a>
            <a style="color: black;" href="/logout" class="nav-item nav-link">Log out</a>
        </nav>
        {% endblock nav %}
        {% block rules %}
        <div class="rules" style="border: 2px solid black; display: none; position: fixed; background-color: white; width: 100%;">
            <h1 style="text-align: center;">Rules!</h1>
            <p style="font-weight: bold; text-align: center;">Your goal is to gather animals into the different exhibits inside your zoo.</p>
            <p style="text-align: center;">The currency in this world is called ZooCash. You can see how much money you have in your navigation bar.</p>
            <p style="text-align: center;">By clicking on the empty exhibits (Under Construction), you will be redirected to the exhibit store. There you may choose to buy different exhibits based on your preference.</p>
            <p style="text-align: center;">Once you've built an exhibit, you may choose to buy animals in the animal store until you have run out of space in that exhibit.</p>
            <p style="text-align: center;">You can see which animals you have in each exhibits by clicking on your new exhibit in the zoo tab.</p>
            <p style="text-align: center;">You may create a new zoo once you have 35000 ZooCash. To create a new zoo head to the 'Your Zoos' tab. Moving on to your next day will move all your zoos on to the next day.</p>
            <p style="text-align: center;">Each one of your animals have a happiness rating and a health rating. The maximum rating for both of these is 100. Keeping your animals healthy and happy is important to keep your customers coming back. If an animal's health falls to 0, it will die.</p>
            <p style="text-align: center;">Clicking on the day button in your navigation bar will show the daily log with important information regarding your current day.</p>
            <p style="text-align: center;">Clicking on the next day button in your navigation bar will move you on to the next day: updating your daily log and earning money from your customers.</p>
            <p style="text-align: center;">If you wish to change your ticket price, click on the entrance image in your zoo. Keep in mind that the more expensive your tickets are, the less likely customers are to come visit your zoo.</p>
            <button id="close_rules" style="float: right;">Close</button>
        </div>
        {% endblock rules %}
        {% block daily_log %}
        <div class="daily_log" style="border: 2px solid black; display: none; position: fixed; background-color: white; width: 100%;">
            <h1 style="text-align: center;">Welcome to your Daily Log!</h1>
            {% if "daily_log" in request.session %}
            {% for key, value in request.session.daily_log.items %}
            <h1 style="text-align: center;">{{value.name}}</h1>
            <p style="text-align: center;">Your zoo sold {{value.daily_visitors}} tickets and earned you {{value.daily_money}} ZooCash.</p>
            <p style="text-align: center;">The weather today is {{value.weather}}.</p>
            <p style="text-align: center;">The ticket price today is {{value.ticket_price}} ZooCash.</p>
            <p style="text-align: center;">Today's news: {%for message in value.messages%}<br>{{message}}{%endfor%}</p>
            {% endfor %}
            {% else %}
            <p style="text-align: center;">You do not have a daily log yet!</p>
            {% endif %}
            <button id="close_daily_log" style="float: right;">Close</button>
        </div>
        {% endblock daily_log %}
        <div class="main">
            {% block main %}
            <p>Main Content goes here!</p>
            {% endblock main %}
        </div>
        <div class="footer">
            {% block footer %}
            {% endblock footer %}
        </div>
    </body>
</html>