{% extends 'zoo_app/base.html' %}

{% block script %}

.change();
{% endblock script %}
{% block main %}
<h1>{{this_building.name}}</h1>
<h2>{{fullness}}/{{capacity}} Capacity</h2>
{% if messages %}
{% for message in messages %}
{{message|safe}}
{% endfor %}
{% endif %}
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>Breed</th>
            <th>Happiness</th>
            <th>Health</th>
            <th>Size</th>
            {% if this_building.zoo.owner.id == user.id %}
            <th>Food choices</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for animal in this_building.inhabitants.all %}
        <tr>
            <td class="animal_info" style="cursor: pointer; color: green; text-decoration: underline;" data-toggle="popover" title="Animal Information" data-content="Name: {{animal.name}}, Breed: {{animal.get_breed_display}}, Age: {{animal.display_age}}, Description: {{animal.description}}">{{animal.name}}</td>
            <td>{{animal.get_breed_display}}</td>
            <td>{{animal.happiness}}</td>
            <td>{{animal.health}}</td>
            <td>{{animal.size}}</td>
            {% if this_building.zoo.owner.id == user.id %}
            <td>
                <form style="display: inline-block;" action="/zoo/buy_food/{{animal.id}}" method="post">
                    {% csrf_token %}
                    <div>
                        <select style="display: inline-block; width: 100px;" class="select{{animal.id}} form-control" name="food">
                            <option value="grasses" price="80">Grasses</option>
                            <option value="leaves" price="100">Leaves</option>
                            <option value="fruit" price="120">Fruits</option>
                            <option value="meat" price="140">Meat</option>
                            <option value="fish" price="160">Fish</option>
                        </select>
                        <div style="display: inline-block;" class="input-group-append">
                            <span class="input-group-text price{{animal.id}}" id="basic-addon1">80 ZooCash</span>
                        </div>
                        <button style="display: inline-block;" class="btn btn-outline-primary">Feed</button>
                    </div>
                    <script>
                    $( ".select{{animal.id}}" ).change(function () {
                        var str = ""
                        $( ".select{{animal.id}} option:selected" ).each(function() {
                            str += $(this).attr('price')+" ZooCash";
                        });
                        $( ".price{{animal.id}}" ).text( str );
                    })
                    </script>
                </form>
            </td>
            {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% if this_building.zoo.owner.id == user.id %}
<a class="btn btn-outline-primary" href="/zoo/animal_store/{{this_building.id}}">Buy some Animals!</a>
{% endif %}
{% endblock %}