{% extends 'zoo_app/base.html' %}

{% block main %}
<h1>Building Store: Location {{location}}</h1>
<form action="/zoo/{{zoo.id}}/buy_building/{{location}}" method="post">
    {% csrf_token %}
    <label>Building Name:</label>
    <input type="text" name="name" placeholder="Insert a name here">
    <select style="display: block;" name="climate">
        <option value="arctic">Arctic: 7000 ZooCash</option>
        <option value="savanna">Savanna: 9000 ZooCash</option>
        <option value="forest">Forest: 6000 ZooCash</option>
        <option value="jungle">Jungle: 8000 ZooCash</option>
    </select>
    <button style="margin-top: 10px;">Build</button>
</form>
{% endblock %}