{% extends 'zoo_app/base.html' %}

{% block main %}
<h1>{{this_building.name}}</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Breed</th>
            <th>Happiness</th>
            <th>Health</th>
            <th>Food choices</th>
        </tr>
    </thead>
    <tbody>
        {% for animal in this_building.inhabitants.all %}
        <tr>
            <td>{{animal.name}}</td>
            <td>{{animal.get_breed_display}}</td>
            <td>{{animal.happiness}}</td>
            <td>{{animal.health}}</td>
            <td>
                <form style="display: inline-block;" action="/zoo/buy_food/{{animal.id}}" method="post">
                    {% csrf_token %}
                    <label>Feed Leaves</label>
                    <input type="hidden" name="food" value="leaves">
                    <button>100 ZooCash</button>
                </form>
                <form style="display: inline-block;" action="/zoo/buy_food/{{animal.id}}" method="post">
                    {% csrf_token %}
                    <label>Feed Grasses</label>
                    <input type="hidden" name="food" value="grasses">
                    <button>80 ZooCash</button>
                </form>
                <form style="display: inline-block;" action="/zoo/buy_food/{{animal.id}}" method="post">
                    {% csrf_token %}
                    <label>Feed Fruit</label>
                    <input type="hidden" name="food" value="fruit">
                    <button>120 ZooCash</button>
                </form>
                <form style="display: inline-block;" action="/zoo/buy_food/{{animal.id}}" method="post">
                    {% csrf_token %}
                    <label>Feed Fish</label>
                    <input type="hidden" name="food" value="fish">
                    <button>160 ZooCash</button>
                </form>
                <form style="display: inline-block;" action="/zoo/buy_food/{{animal.id}}" method="post">
                    {% csrf_token %}
                    <label>Feed Meat</label>
                    <input type="hidden" name="food" value="meat">
                    <button>140 ZooCash</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="/zoo/animal_store/{{this_building.id}}">Buy some Animals!</a>
{% endblock %}