{% extends 'zoo_app/base.html' %}

{% block main %}
<table class="table">
    <thead>
        <tr>
            <th>Zoo ID</th>
            <th>Zoo Name</th>
            <th>Number of Exhibits</th>
            <th>Ticket Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
{% for zoo in zoos %}
        <tr>
            <td>{{zoo.id}}</td>
            <td>{{zoo.name}}</td>
            <td>{{zoo.exhibits.count}}</td>
            <td>{{zoo.ticket_price}} ZooCash</td>
            <td><a href="/zoo/{{zoo.id}}">Visit this Zoo</a></td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}