{% extends 'zoo_app/base.html' %}

{% block main %}
<div class="zoo" style="padding: 10px; width: 800px; height: 305px; border: 2px solid black;">
    <div>
        <h1 style="display: inline-block; margin-top : 0;">{{zoo.name}}</h1>
        <img src="../../static/zoo_app/img/{{zoo.get_weather_display}}.gif" alt="{{zoo.get_weather_display}}" style="width: 80px; height: auto; border: 2px solid black; float: right;">
    </div>
    {% for exhibit in exhibits %}
        {% if exhibit.1 == "empty" %}
        <a href="/zoo/{{zoo.id}}/build_store/{{exhibit.0}}"><img src="../../static/zoo_app/img/empty.jpg" alt="no_building" style="width: 100px; height: 100px; border: 2px solid black;"></a>
        {% else %}
        <a href="/zoo/building/{{exhibit.1.id}}"><img src="../../static/zoo_app/img/{{exhibit.1.climate}}.jpg" alt="{{exhibit.climate}}" style="width: 100px; height: 100px; border: 2px solid black;"></a>
        {% endif %}
    {% endfor %}
<a href="/zoo/{{zoo.id}}/manage"><div class="entrance" style="width: 775px; height: 100px; border: 2px solid black; display: inline-block; margin-top: 20px;">Entrance</div></a>
</div>
{% endblock %}